@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background: #7b0c6e;
  background: -webkit-linear-gradient(top, left, #7b0c6e, #626cb3);
  background: -moz-linear-gradient(top, left, #7b0c6e, #626cb3);
  background: linear-gradient(to bottom right, #7b0c6e, #626cb3);
  color: #fff;
}

h2 {
  width: 100%;
  text-align: center;
}

.btn {
  padding: 6px 12px;
  border-radius: 6px;
  outline: none;
  border: 0;
  margin-top: 10px;
  background-color: #e0b414;
  color: #000;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #dfc25a;
}

.btn:active {
  transform: scale(0.96);
}

input {
  padding: 5px 8px;
  border-radius: 7px;
  outline: none;
  border: 0;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

label {
  min-width: 100px;
  display: block;
  text-align: left;
  margin-left: -80px;
}

.new-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#items {
  width: 100%;
}

table {
  border: 1px solie black;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

th {
  text-align: left;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
}

tr {
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background-color: darkgrey;
}

tr:nth-child(odd) {
  background-color: #fff;
}

td {
  padding: 5px;
}
